// Navigation Styles here

header {
    nav {
        padding:3% 0%;
        display:flex;
        justify-content:space-between;
        align-items:center;
        width:80%;
        margin: 0 auto;
    }

    nav h1{
        margin-right:35%;
    }

    nav a{
        text-decoration:none;
        font-size:1.5rem;
        color:black;
    }
}

.container-nav {
    width:65%;
    margin: 0 auto;
    border-bottom: 2px dashed silver;
}